.phones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0em 2em;
  min-width: 500px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.5em;
}

.header-list p {
  font-weight: 700;
  font-size: 1.1rem;
}

.header-list button {
  width: 100px;
  height: 35px;
  padding: 0.5em;
  background: #4aa1f8;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5em;
}

.list-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2em;
}

.list-wrapper .list-category {
  display: flex;
  justify-content: space-around;
}

.list-category p {
  padding: 1em;
}

.list-content {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid black;
}

.list-content p {
  padding: 0.5em;
}

.image-div {
  display: flex;
}
.image-div img {
  display: inline-block;
}
