.footer {
  background: #054a91;
  height: 90px;
  width: 100%;
  color: #dae3ed;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer p {
  margin-bottom: 1.5em;
}
