.list-content {
  display: flex;
  border-top: 2px solid black;
}

.list-content li {
  padding: 2em 1.5em;
}

.list-content li:last-of-type {
  margin-right: auto;
}

.links-div {
  display: flex;
}

.list-content img {
  display: block;
  margin-right: 2em;
}

.links-div {
  display: flex;
}

.list-content img {
  display: block;
  margin-right: 2em;
}
