.phones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.phones-container li,
.phones-container ul {
  list-style: none;
  padding: 0;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.header-list p {
  font-weight: bold;
  font-size: 20px;
}

.header-list button {
  width: 100px;
  height: 35px;
  padding: 0.5em;
  background: #4aa1f8;
  border-radius: 5px;

  display: block;
  margin-bottom: 0.5em;
}

.list-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2em;
  width: 700px;
  min-width: 500px;
}
.list-category li {
  padding: 2em 1.5em;
}
.list-category {
  display: flex;
}

.list-content {
  display: flex;
  border-top: 2px solid black;
}

.list-content li {
  padding: 2em 1.5em;
}

.list-content li:last-of-type {
  margin-right: auto;
}
