.phones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 81vh;
}
.phones-container li,
.phones-container ul {
  list-style: none;
  padding: 0;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.header-list p {
  font-weight: bold;
  font-size: 20px;
}

.header-list button {
  width: 135px;
  height: 40px;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  background: #dae3ed;
  margin-left: 2.5em;
  border: 1px solid #1d1d1d;
}
.buttonAdd-icons {
  font-size: 20px;
  border: unset;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons span {
  margin-left: 0.5em;
}
.list-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2em;
  width: 700px;
  min-width: 500px;
}
.list-category li {
  padding: 2em;
}
.list-category {
  display: flex;
}

.list-content {
  display: flex;
  border-top: 2px solid black;
}

.list-content li {
  padding: 2em 1.5em;
}

.list-content li:last-of-type {
  margin-right: auto;
}
